{% extends '__base__.html' %}
{% block title %}blogs{% endblock %}
{% block beforehead %}
	<script type="text/javascript">

	</script>
{% endblock %}
{% block content %}

	<div class="uk-width-1-4 uk-hidden-small">
		{% if user %}
		    <a href="/account" ><img  class="uk-margin-top uk-border-rounded" src="https://avatars0.githubusercontent.com/u/19619286?v=3" ></a>
			<div class="" style="position: static;">
				<h1 class="uk-text-center" style="word-break:break-all">
			 		{{ user.name }}
			  	</h1>
			  <hr class="uk-article-divider">
			  	<h3>  
			  	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一个人的命运啊,当然要靠自我奋斗,但是也要考虑到历史的进程。
			  	</h3>
			</div>
		{% endif %}

  </div>
    <div class="uk-width-medium-3-4">
    	<h1 class="uk-text-center">Blog</h1>
    	<hr class="uk-article-divider">
        {% for blog in blogs %}
        	<div >
	            <article class="uk-article">
	                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
	                <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
	                <p>{{ blog.summary }}</p>
	                <!-- 	                
						<p class="uk-clearfix">
	                	<img class="uk-align-medium-right uk-hidden-small" style="width: 60px;height: 60px;" src="https://avatars0.githubusercontent.com/u/19619286?v=3"/>	              	
	                		                	
	                </p> 
	                -->             		                                       	
	                <p>
	                	<a href="/blog/{{ blog.id }}">继续阅读<i class="uk-icon-angle-double-right"></i>
	                	</a>
	                </p>
	            </article>

            </div>
            <hr class="uk-article-divider">
        {% endfor %}
    </div>

{% endblock %}